.parallax{
    height: 100%;
    background-image: url(images.jpg);
    background-size: center;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(212, 20, 13);
    flex-direction: column;
    font-family: fantasy;
    font-weight: 400;
    font-style: normal;
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
}

.parallax2{
    background-image: url(mesa.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(206, 6, 6);
    flex-direction: column;
    height: 300px;
    margin-left: px;
    margin-right: 0px;
}

contenedor{
    height: 80vh;
}
.p-parallax{
    display: flex;
    flex-direction: column-reverse;
}

.nav{ 
    background-color: rgb(154, 154, 180);
    height: 100px;
    display: flex;
    flex-direction: center;
    align-items: center;
}

.nav a{
    padding: 0 15px;
}

.cuadro{
    display: flex;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(2,0fr);
    justify-items: center;
    flex-direction: column;
}

.cuadro img{
    width: 200px;
    margin: 0px;
}

.lista2{ 
    margin-left: -20px;
}

.texto{
    font-family: fantasy;
    font-size: 25px;
}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
}

.cuerpo{
    background-color: rgb(112, 137, 206);
}

.logo{
    width: 100px;
    margin-right: 100%;
}

.nav a{
    padding-top: 100px;
}

.lista{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    gap: 10px;
    list-style: none;
    font-weight: bold;
    margin: 0 20px;
    letter-spacing: 1px;
    white-space: nowrap;
}
.tarjeta{
    background-color: #f8f9fa;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}
.icono{
    font-size: 30px;
    color: #007bff;
    margin-bottom: 10px;
}

.tarjeta h3{
    font-weight: bold;
    color: #222;
}

.tarjeta p{
    color:#555;
    font-size: 14px;
}

.recuadro{
    display: inline-block;
    background-color: #f8f9fa;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px;
}